# Exemple de fichier de variables d'environnement pour Terraform
# Copiez ce fichier en .env.local et remplacez les valeurs par les vôtres.

ARM_SUBSCRIPTION_ID=
ARM_TENANT_ID=
AZURE_USE_CLI_AUTH=true
DEPLOYMENT_ENVIRONMENT=production
DEPLOYMENT_LOCATION=swedencentral
TERRAFORM_DEMO_MODE=false

# Optionnel: si vous utilisez un service principal au lieu de Azure CLI auth
#ARM_CLIENT_ID=
#ARM_CLIENT_SECRET=
